*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #0000;
    color: #333;
}

.cabecalho .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.menu {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 1rem 90rem;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu li a:hover{
    color: #e74c3c;
}

.cabecalho h1{
    font-size: 2rem;
    color: #fff;
}

strong{
    color: #e74c3c;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    color: #fff;
    font-size: 2rem;

}

.ver{
    color: ;
}